.overlay {
    position: absolute;
    left: 0;
    top: 45%;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
  }
  
  .modal{
      background-color: #fff;
      width: 70%;
      padding: 40px 30px;
      border-radius: 10px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
      transition: all 0.5s ease-in-out; 
  }
  
  .overlay.animated{
      opacity: 0;
      visibility: hidden;
  }
  
  .overlay.animated .modal{
      opacity: 0;
      visibility: hidden;
      transform: translate(-50%, -30%);
      transition-delay: 0.2s;
  }
  
  .overlay.animated.show{
      opacity: 1;
      visibility: visible;
  }
  
  .overlay.animated.show .modal{
      opacity: 1;
      visibility: visible;
      transform: translate(-50%, -50%);
  }
  
  .modal img{
      border-radius: 5px;
      width: 100%;
  }
  
  .modal svg{
      position: absolute;
      right: 10px;
      top: 10px;
      height: 24px;
      width: 24px;
      opacity: 0.3;
      cursor: pointer;
  }
  
  .modal svg:hover{
      opacity: 1;
  }