.menuu {
  position: fixed;
  z-index: 30;
  width: 100vw;
  height: 100vh;
  top: 60px;
  left: 0%;
  transform: translateX(160%);
  transition: all 0.7s;
  border-top: 1px solid #ffffff;
}

.active_menu {
  transform: translateX(0);
  transition: all 0.7s;
}
.menu__content {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.1s;
}

.menu__content ul {
  margin: 10px 0 0;
  padding: 0;
  width: 120px;
}

.menu__content ul li {
  list-style: none;
  transition: 0.3s linear;
  text-decoration: none;
  font-weight: 300;
  text-transform: uppercase;
  margin: 40px 0;
  font-size: 18px;
  text-align: center;
}
