.content {
  width: 1440px;
  margin: 0 auto;
  padding: 62px 22px 132px 22px;
  display: flex;
  flex-direction: column;
  gap: 83px;
}

.info__box {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.title {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}

.text__box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  line-height: 25px;
}
.item {
  font-size: 20px;
}

.item span {
  text-transform: uppercase;
  font-weight: 500;
}
@media (width: 1440px)
{
  .text__box{
    padding: 0 20px;
  }
}
.bottomNavbar{
  display: none;
}
@media (max-width: 480px){
  .bottomNavbar{
    display: block;
    max-width: 480px;
  }
}
@media (max-width: 480px){
  .content{
    width: unset;
  }
  .title{
      font-size: 30px;
  }
  .item{
      font-size: 18px;
  }
}