.footer {
  height: 122px;
  background-color: #d9d9d9;
}
.box {
  width: 1440px;
  margin: 0 auto;
  padding: 34px 0px;
  display: flex;
  gap: 129px;
  align-items: center;
}

@media (max-width: 480px){
  .footer{
    margin-top: 50px;
    max-width: 480px;
    height: fit-content;
  }
  .box{
    flex-direction: column;
    gap: 20px;
    width: unset;
  }
  .footer .container{
    width: 100%;
  }

  .logo{
    width: 150px;
  }
  .logo img{
    width: 100%;
  }
}