.title {
  background-color: #e3eaf8;
  margin-top: 14px;
}

.title p {
  font-size: 40px;
  font-weight: 400;
  width: 458px;
  padding: 59px 0px 98px 0px;
  margin-left: auto;
  margin-right: 136px;
  text-align: center;
}

.content {
  width: 1440px;
  margin: 0 auto;
  position: relative;
  margin-top: 40px;
  margin-bottom: 720px;
}

.content__img {
  position: absolute;
  top: -160px;
  width: 685px;
  height: 685px;
}

.content__img img {
  width: 100%;
  height: 100%;
}

.content__info {
  float: right;
}

.price {
  font-size: 40px;
  font-weight: 500;
}

.description {
  width: 1440px;
  margin: 0 auto;
}

.description__title {
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.description__text {
  font-size: 24px;
  margin-bottom: 100px;
}

.basket__button {
  display: flex;
  gap: 20px;
}

.button {
  background-color: #e3eaf8;
  border: none;
  padding: 19px 64px;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
}

.info__top {
  display: flex;
  align-items: center;
  gap: 419px;
  margin-bottom: 27px;
}

.icon {
  width: 32px;
  height: 32px;
}

.colors__img {
  width: 96px;
}
.colors__img img {
  width: 100%;
  border: 1px solid white;
}
.colors__img img:hover {
  border: 1px solid #c2d4f9;
}
.colors__box {
  width: 600px;
  display: flex;
  gap: 19px;
  flex-wrap: wrap;
  padding-bottom: 41px;
}

.colors__title {
  font-weight: 300;
  font-size: 32px;
  padding-bottom: 41px;
}

.colorsBox a {
  border: 1px solid white;
  padding: 2px;
}
.colorsBox a.active .colorsImg img {
  border: 1px solid #8bacef;
}

.counter__title {
  font-weight: 300;
  font-size: 32px;
  padding-bottom: 41px;
}
.counter {
  display: flex;
  gap: 24px;
  padding-bottom: 40px;
}

.amount {
  width: 30px;
  text-align: center;
}

.counter .minus,
.counter .plus {
  border: 1px solid black;
  background-color: white;
  width: 21px;
  height: 21px;
}

.modal__text {
  text-align: center;
  padding-top: 20px;
}
.modal__btn {
  text-align: center;
  padding-top: 35px;
}
.modal__btn button {
  font-size: 14px;
  text-transform: uppercase;
  padding: 10px;
  border: 1px solid black;
  background-color: unset;
  cursor: pointer;
  transition: all 500ms ease;
}

.modal__btn button:hover {
  background: #afc7d2;
  transform: scale(1.1);
  cursor: pointer;
}

.bottomNavbar {
  display: none;
}

@media (width: 1440px) {
  .content {
    padding: 0 20px;
  }
  .info__top {
    gap: 330px;
  }
  .description,
  .description__text {
    padding: 0 20px;
  }
}

@media (max-width: 480px) {
  .colors__title{
    font-size: 24px;
  }
  .content__img{
    width: unset;
    height: unset;
  }
  .basket__button {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .content{
    max-width: 480px;
    width: 100%;
    margin-top: 0px;
  }
  .bottomNavbar {
    display: block;
    max-width: 480px;
  }
  .colors__wrapper {
    max-width: 480px;
  }
  .description {
    width: unset;
    padding: 0px 20px;
  }
  .container {
    max-width: 480px;
  }
  .title {
    width: 100%;
    padding: 59px 0px 0px 0px;
    padding-left: 0;
  }
  .title p {
    font-size: 30px;
    margin: 0;
    width: unset;
  }
  .content__img {
    position: unset;
    max-width: 480px;
  }
  .content__img img {
    width: 100%;
    object-fit: contain;
  }
  .content__info {
    width: 95%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 52px;
  }
  .info__top {
    gap: 0;
    justify-content: space-between;
  }
  .colors__box {
    width: 100%;
  }
  .basket__button {
    flex-direction: column;
    width: fit-content;
  }
  .basket__button > * {
    width: fit-content;
  }
  .description__title {
    font-size: 24px;
  }
  .description__text {
    width: 100%;
    font-size: 20px;
  }
}
