.title{
    background-color: #e3eaf8;
    margin-top: 14px;
}

.title p{
    font-size: 40px;
    font-weight: 400;
    width: 458px;
    padding: 59px 0px 98px 0px;
    margin-left: auto;
    margin-right: 136px;
    text-align: center;
}

.content{
    width: 1440px;
    margin: 0 auto;
    position: relative;
    margin-top: 40px;
    margin-bottom: 600px;
}

.content__img{
    position: absolute;
    top: -160px;
    width: 685px;
    height: 685px;
}

.content__img img{
    width: 100%;
    height: 100%;
}

.content__info{
    float: right;
}

.content__info p{
    font-size: 40px;
    font-weight: 500;
}

.description{
    width: 1440px;
    margin: 0 auto;
}

.description__title{
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.description__text{
    font-size: 24px;
    margin-bottom: 100px;

}

.basket__button{
    display: flex;
    gap: 20px;
}

.button{
    background-color: #E3EAF8;
    border: none;
    padding: 19px 64px;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
}

.info__top{
    display: flex;
    align-items: center;
    gap: 419px;
    margin-bottom: 27px;
}

.icon{
    width: 32px;
    height: 32px;
}