.content {
    width: 1440px;
    margin: 0 auto;
  padding: 55px 0px 125px 0px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.text__box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 23px;
  line-height: 30px;
}

.item {
  font-size: 24px;
  font-weight: 300;
}

.item span {
  font-weight: 500;
}
.bottomNavbar{
  display: none;
}

@media (max-width: 480px){
  .bottomNavbar{
    display: block;
    max-width: 480px;
  }
  .content{
    width: unset;
    flex-direction: column;
  }
  .img{
    max-width: 480px;
  }
  .img img{
    width: 100%;
  }
  .text__box{
    padding-left: 0;
    width: 90%;
    margin: 0 auto;
  }
  .item{
    font-size: 18px;
  }
}