.main__container {
    width: 1324px;
    margin: 0 auto;
  }
.items__box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin-bottom: 87px;
    gap: 70px 63px;
  }

  @media (max-width: 480px) {
    .items__box {
      grid-template-columns: repeat(1, 1fr);
      width: 90%;
      margin: 0 auto;
    }
    .main__container{
      width: fit-content;
    }
  }