.main__container {
  width: 1324px;
  margin: 0 auto;
}
.items__box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  margin-bottom: 87px;
  gap: 70px 63px;
}

@media (max-width: 480px) {
  .items__box {
    grid-template-columns: repeat(1, 1fr);
    width: 90%;
    margin: 0 auto;
  }
  .main__container {
    width: fit-content;
  }
  .search{
    width: 90%;
    margin: 0 auto;
  }
}

.search {
  position: relative;
  margin-bottom: 40px;
}

.search__input {
  border: 1px solid rgba(0, 0, 0, 0.08);
  padding: 15px;
  border-radius: 15px;
  font-size: 16px;
  padding-left: 50px;
}

.search__icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 17px;
  left: 20px;
  opacity: 0.3;
}
