.aboutUsContent {
  margin: 55px 0px 125px 0px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.contentTextBox {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 23px;
  line-height: 30px;
}

.textBoxItem {
  font-size: 24px;
  font-weight: 300;
}

.textBoxItem span {
  font-weight: 500;
}

@media (max-width: 480px){
  .aboutUsContent{
    flex-direction: column;
  }
  .contentImg{
    max-width: 480px;
  }
  .contentImg img{
    width: 100%;
  }
  .contentTextBox{
    padding-left: 0;
    width: 90%;
    margin: 0 auto;
  }
  .textBoxItem{
    font-size: 18px;
  }
}