ul{
  list-style: none;
}
a{
  text-decoration: none;
}
.nav {
  display: flex;
  justify-content: center;
  gap: 110px;
}

.nav .link {
  display: inline-block;
  position: relative;
  color: black;
  font-size: 24px;
  padding: 10px;
}
.nav .link:after {
  display: block;
  content: "";
  background-color: black;
  height: 2px;
  width: 0%;
  left: 50%;
  position: absolute;
  -webkit-transition: width 0.3s ease-in-out;
  -moz--transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}
.active {
  display: inline-block;
  position: relative;
  color: rgba(0, 0, 0, 0.7);
  font-size: 24px;
  padding: 10px;
}
.nav .link:hover:after,
.nav .link:focus:after {
  width: 100%;
  outline: none;
}

@media (max-width: 480px) {
  .nav {
    flex-direction: column;
    gap: 30px;
    text-align: center;
  }
  .nav .link {
    font-weight: 300;
  }
}
