.container {
  width: 1440px;
  margin: 0 auto;
}

.title {
  font-weight: 400;
  text-align: center;
  font-size: 54px;
  padding: 50px 0px;
}
.info {
  border: 1px solid #afc7d2;
  padding: 50px 40px;
  margin: 50px 0px;
}
.item__value {
  font-size: 20px;
  margin-top: 10px;
}
.item__title {
  font-size: 14px;
  letter-spacing: 0.02em;
}
.item + .item {
  margin-top: 30px;
}

.buttons {
  display: flex;
  gap: 15px;
}

.buttons button {
  background: none;
  border: 1px solid black;
  padding: 15px 20px;
  font-size: 18px;
  transition: 0.1s linear;
  cursor: pointer;
}

.buttons button:hover {
  transform: scale(1.1);
  transition: 0.1s linear;
}

.bottomNavbar {
  display: none;
}

@media (max-width: 480px) {
  .container {
    width: unset;
    max-width: 480px;
  }
  .title {
    font-size: 36px;
  }
  .bottomNavbar {
    display: block;
    max-width: 480px;
  }
  .buttons{
    width: 95%;
    margin: 0 auto;
  }
  .info{
    width: 75%;
    margin: 50px auto;
  }
}
